<div class="content">
  <div class="title">
    <section>
      <div>
        <h1>Cuidador(a) com formação em Fisioterapia</h1>
      </div>
    </section>
  </div>
  <br>
  <div class="body">
    <h2>Serviços Prestados</h2>
    <p>Nossos cuidadores com formação em Fisioterapia são capacitados em cuidar de pacientes em suas próprias casas, para
      a realização das sessões de fisioterapia, o profissional deve realizar um diagnóstico fisioterapêutico. Para
      isso, analisa exames e laudos médicos, além de observar os movimentos do paciente e identificar os possíveis
      pontos de dor. Para a realização do tratamento, o fisioterapeuta utiliza técnicas de massagens, exercícios
      físicos, exercícios na água e tratamentos à base de frio e calor.</p>
    <p>Alguns dos serviços consistem em:</p>
    <br>
    <ul>
      <li>
        <b>Saúde Preventiva:</b>
        Propõe exercícios para corrigir postura, relaxar os músculos, alongar antes e depois do trabalho. O intuito
        deste tratamento é prevenir lesões, diminuir a tensão muscular e amenizar os sintomas de doenças articulares.
      </li>
      <br>
      <li>
        <b>Fisioterapia do Trabalho:</b>
        Orienta as pessoas em como prevenir e manter a saúde em seus ambientes de trabalho. Elabora programas de
        ginástica laboral.
      </li>
      <br>
      <li>
        <b>Fisioterapia Desportiva:</b>
        Acompanha equipes esportivas em competições. Realiza avaliações funcionais periódicas e propõe tratamentos de
        prevenção e recuperação de lesões musculares.
      </li>
      <br>
      <li>
        <b>Indústria de Equipamentos:</b>
        Desenvolve e testa novos equipamentos utilizados na fisioterapia clínica.
      </li>
      <br>
      <li>
        <b>Ortopedia e Traumatologia:</b>
        Atende pacientes com traumas, fraturas ou luxações.
      </li>
    </ul>
    <br>
    <h2>Perfil Profissional</h2>
    <p>Este profissional auxilia crianças, jovens, adultos e idosos na recuperação de sua saúde em diferentes casos
      (doenças crônicas, traumas, lesões, etc). Ter sensibilidade para lidar com as pessoas e perseverança para ajudar
      os pacientes a alcançarem os resultados são características de um bom profissional da área de Fisioterapia.
    </p>
  </div>
</div>
