<div class="content">
  <div class="title">
    <section>
      <div>
        <h1>Nossos Serviços</h1>
      </div>
    </section>
  </div>
  <div class="body">

    <div class="row-info">
      <h2>Cuidadores de Idosos</h2>
      <ul class="list-info">
        <li>
          Acompanhamento e auxílio à pessoas independentes e parcialmente dependentes.
        </li>
        <br>
        <li>
          Pessoas acamadas e totalmente dependentes para as atividades de vida diárias.
        </li>
        <br>
        <li>
          Pessoas com Alzheimer, Parkinson, AVC e outras limitações.
        </li>
        <br>
        <li>
          Acompanhamento de pessoas enfermas em hospitais e clínicas.
        </li>
        <br>
        <li>
          Acompanhamento em fisioterapia, clubes e grupos de encontros.
        </li>
        <br>
        <li>
          Acompanhamento em passeios e viagens.
        </li>
      </ul>
    </div>

    <div class="row-info">
      <h2>Apoio Domiciliar</h2>
      <ul class="list-info">
        <li>
          Acompanhamento e orientação em pacientes pré e pós operatório.
        </li>
        <br>
        <li>
          Assistência à pacientes acamados.
        </li>
        <br>
        <li>
          Assistência à pacientes em uso de dispositivos de assistência: traqueostomia, sonda vesical de demora,
          dependentes de O2, colostomizados e sonda naso/oroentérica.
        </li>
      </ul>
    </div>

    <div class="row-info">
      <h2>Assistência Diária</h2>
      <ul class="list-info">
        <li>
          Administração de medicamentos conforme prescrição médica.
        </li>
        <br>
        <li>
          Auxílio e assistência à higiene, banho e conforto.
        </li>
        <br>
        <li>
          Prevenção de lesões por pressão (escara).
        </li>
        <br>
        <li>
          Monitoramento de dados vitais: temperatura, frequência cardíaca, frequência respiratória, saturação de O2,
          glicemia capilar.
        </li>
        <br>
        <li>
          Administração de dieta conforme necessidade da pessoa.
        </li>
        <br>
        <li>
          Acompanhamento à consultas, fisioterapia, hidroginástica, passeios e viagens.
        </li>
        <br>
        <li>
          Companhia agradável de acordo com os hábitos e preferências da pessoa.
        </li>
        <br>
        <li>
          Estímulo de atividades durante o dia de acordo com a capacidade e preferências da pessoa.
        </li>
      </ul>
    </div>

  </div>
</div>
