<div class="content">
  <div class="title">
    <section>
      <div>
        <h1 style="margin-top: 0px;">Serviços</h1>
      </div>
    </section>
  </div>
  <br>
  <div class="body">
    <h3 style="text-align: center;"><span>Cuidadores de idosos</span></h3>
    <p style="text-align: center;">Acompanhamento e auxílio à pessoas independentes e parcialmente dependentes.</p>
    <p style="text-align: center;">Pessoas acamadas e totalmente dependentes para as atividades de vida diárias.</p>
    <p style="text-align: center;">Pessoas com Alzheimer, Parkinson, AVC e outras limitações.</p>
    <p style="text-align: center;">Acompanhamento de pessoas enfermas em hospitais e clínicas.</p>
    <p style="text-align: center;">Acompanhamento em fisioterapia, clubes e grupos de encontros.</p>
    <p style="text-align: center;">Acompanhamento em passeios e viagens.</p>
    <br>
    <h3 style="text-align: center;"><span>Apoio domiciliar</span></h3>
    <p style="text-align: center;">Acompanhamento e orientação em pacientes pré e pós operatório.</p>
    <p style="text-align: center;">Assistência à pacientes acamados.</p>
    <p style="text-align: center;">Assistência à pacientes em uso de dispositivos de assistência: traqueostomia, sonda vesical de demora,&nbsp;dependentes de O2,&nbsp;colostomizados e sonda naso/oroentérica.</p>
    <br>
    <h3 style="text-align: center;"><span>Assistência diária</span></h3>
    <p style="text-align: center;">Administração de medicamentos conforme prescrição médica.</p>
    <p style="text-align: center;">Auxílio e assistência à higiene, banho e conforto.</p>
    <p style="text-align: center;">Prevenção de lesões por pressão (escara).</p>
    <p style="text-align: center;">Monitoramento de dados vitais: temperatura,&nbsp;frequência cardíaca, frequência respiratória,&nbsp; saturação de O2, glicemia capilar.</p>
    <p style="text-align: center;">Administração de dieta conforme necessidade da pessoa.</p>
    <p style="text-align: center;">Acompanhamento à consultas, fisioterapia, hidroginástica, passeios e viagens.</p>
    <p style="text-align: center;">Companhia agradável de acordo com os hábitos e preferências da pessoa.</p>
    <p style="text-align: center;">Estímulo de atividades durante o dia de acordo com a capacidade e preferências da pessoa.</p>
  </div>
</div>
