.content {
  width: 100%;
  margin-top: 116px;
  margin-bottom: 116px;
}

.title {
  text-align: center;
  font-size: 35px;
}
.subtitle{
  margin-top: 38px;
  font-size: 20px;
}
.body {
  margin: 0;
  font-size: medium;
  margin-left: 30px;
  margin-right: 30px;
}

.row-info {
  padding: 30px;
  justify-content: center;
  text-align: center;
  font-size: large;
}

.list-info {
  text-align: center;
  /* word-spacing: -0.5px; */
}

li {
  list-style-type: none;
}
