<div class="content">
  <div class="title">
    <section>
      <div>
        <h1>Cuidador(a) com formação em Terapia Ocupacional</h1>
      </div>
    </section>
  </div>
  <br>
  <div class="body">
    <h2>Serviços Prestados</h2>
    <p>Nossos cuidadores com formação em Terapia Ocupacional são capacitados em cuidar de pacientes em suas próprias
      casas, o profissional irá empregar atividades de trabalho e lazer no tratamento de distúrbios físicos ou mentais e
      de desajustes emocionais e sociais. Ele usa tecnologias e atividades diversas para promover a autonomia de
      indivíduos com dificuldade de integrar-se à vida social em razão de problemas físicos, mentais ou emocionais.</p>
    <p>Alguns dos serviços consistem em:</p>
    <br>
    <ul>
      <li>
        <b>Gerontologia:</b>
        Atuar na reabilitação e na reintegração social de idosos.
      </li>
      <br>
      <li>
        <b>Educação:</b>
        Acompanhar o desenvolvimento de crianças com problemas psicomotores ou de aprendizagem. Promover a inclusão de
        crianças com deficiência nas escolas de ensino regular.
      </li>
      <br>
      <li>
        <b>Psiquiatria e saúde mental:</b>
        Tratar de portadores de distúrbios psíquicos, com o objetivo de promover a inclusão social e ocupacional.
      </li>
      <br>
      <li>
        <b>Reabilitação funcional e profissional:</b>
        Promover o restabelecimento de vítimas de acidentes ou de doenças do trabalho e prestar assistência a portadores
        de deficiência física. Promover também a saúde do trabalhador por meio de ações de prevenção das doenças
        ocupacionais.
      </li>
    </ul>
    <br>
    <h2>Perfil Profissional</h2>
    <p>O Terapeuta Ocupacional elaborará planos de reabilitação e adaptação, buscando desenvolver no paciente
      autoconfiança. Também cria e faz a avaliação de atividades físicas, podendo prestar atendimento individual ou em
      grupo, como por exemplo implementando programas de ginástica laboral e campanhas voltadas, por exemplo, a orientar
      os trabalhadores sobre a posição correta de se sentar a fim de se evitarem problemas de coluna.
    </p>
  </div>
</div>
