<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Empresa</h4>
        <ul>
          <li><a href="/sobreNos">Sobre Nós</a></li>
          <li><a href="/nossoServico">Nossos Serviços</a></li>
          <li><a href="/cadastro">Seja Um Cuidador</a></li>
          <li><a href="/terms">Política de Privacidade</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Ajuda</h4>
        <ul>
          <li><a href="https://mail.google.com/mail/u/0/?fs=1&to=contatocuidamais@gmail.com&su=Digite%20seu%20assunto.&body=Digite%20seu%20texto%20aqui.&tf=cm">FAQ</a></li>
          <li><a href="#">Quem Somos</a></li>
          <li><a href="#">Nossa História</a></li>
          <li><a href="#">Nosso Objetivo</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Profissionais</h4>
        <ul>
          <li><a href="#">Enfermagem</a></li>
          <li><a href="#">Fisioterapia</a></li>
          <li><a href="#">Terapia Ocupacional</a></li>
          <li><a href="#">Outros Profissionais</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Redes Sociais</h4>
        <div class="social-links">
          <a href="https://twitter.com/cuidamais" target="_blank"><i class="fab fa-twitter icon-footer"></i></a>
          <a href="https://instagram.com/cuidamais" target="_blank"><i class="fab fa-instagram icon-footer"></i></a>
          <a href="https://www.facebook.com/CUIDAMAIS/" target="_blank"><i class="fab fa-facebook-f icon-footer"></i></a>
          <a href="https://www.linkedin.com/in/cuidamais-servi%C3%A7os-918a41223/" target="_blank"><i class="fab fa-linkedin-in icon-footer"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
