* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #57cc99;
  bottom: 0;
  width: 100%;

  margin-top: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  padding: 1rem;
}

.footer-col {
  padding: 1rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.icon-footer {
  padding-top: 12px;
}


/*
.footer-col {
  width: 25%;
  padding: 0 15px;
} */

.footer-col h4 {
  font-size: 18px;
  color: #000;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #80ed99;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  /* text-transform: capitalize; */
  color: #000;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
/* @media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .icon-footer {
    padding-top: 12px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 50%;
  }

  .icon-footer {
    padding-top: 12px;
  }
} */
