<div class="header" role="banner">
  <h1 class="logotipo">
    <a href="/">
      Cuida+
    </a>
  </h1>

  <div class="spacer"></div>

  <a aria-label="Cuida+ on Twitter" target="_blank" rel="noopener" href="https://twitter.com/cuidamais"
    title="Twitter">
    <i class="fab fa-twitter icon-header"></i>
  </a>
  <mat-divider [vertical]="true"></mat-divider>
  <a aria-label="Cuida+ on Instagram" target="_blank" rel="noopener" href="https://instagram.com/cuidamais"
    title="Instagram">
    <i class="fab fa-instagram icon-header"></i>
  </a>
  <mat-divider [vertical]="true"></mat-divider>
  <a aria-label="Cuida+ on Facebook" target="_blank" rel="noopener" href="https://youtube.com/cuidamais"
    title="Facebook">
    <i class="fab fa-facebook icon-header"></i>
  </a>
  <mat-divider [vertical]="true"></mat-divider>
  <a aria-label="Cuida+ on WhatsApp" target="_blank" rel="noopener"
    href="https://api.whatsapp.com/send?phone=+5561991422492&text=Ola,%20Gostaria%20de%20saber%20mais%20sobre%20o%20CuidaMais."
    title="WhatsApp">
    <i class="fab fa-whatsapp icon-header"></i>
  </a>
  <mat-divider [vertical]="true"></mat-divider>
  <a aria-label="Cuida+ on Gmail" target="_blank" rel="noopener"
    href="https://mail.google.com/mail/u/0/?fs=1&to=contatocuidamais@gmail.com&su=Digite%20seu%20assunto.&body=Digite%20seu%20texto%20aqui.&tf=cm"
    title="Email">
    <i class="fas fa-envelope-square icon-header-last"></i>
  </a>
</div>
