:host {
  font-family: 'Oxanium', cursive;
  font-size: 14px;
  color: #2C2C2C;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a, a:visited, a:hover {
  color: #2C2C2C;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

mat-divider {
  margin: 0 18px 0 18px;
}

.header {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  display: flex;
  align-items: center;
  background-color: #57CC99;
  color: #2C2C2C;
  font-weight: 600;

  justify-content: space-around;
}

.right-side {
  display: flex;
}

.logotipo {
  font-family: 'Oxanium', cursive;
  font-size: 24px;
}

.icon-header {
  font-size: 24px;
}

.icon-header-last {
  font-size: 24px;
}

/*responsive*/
@media(max-width: 767px) {

  .icon-header {
    font-size: 20px;
  }

  .icon-header-last {
    font-size: 20px;
  }

  .logotipo {
    font-family: 'Oxanium', cursive;
    font-size: 22px;
  }

}

@media(max-width: 574px) {
  .icon-header {
    font-size: 20px;
  }

  .icon-header-last {
    font-size: 20px;
  }

  .logotipo {
    font-family: 'Oxanium', cursive;
    font-size: 20px;
  }
}
