<div class="content">
  <div class="title">
    <section>
      <div>
        <h1>Cuidador(a) com outras formações</h1>
      </div>
    </section>
  </div>
  <br>
  <div class="body">
    <div class="row-info">
      <div>
        <h2>Existem outros profissionais que possam cuidar de idosos ou pacientes que
          necessitam dos cuidados/serviços que oferecemos?</h2>
        <p>A resposta é <b>sim</b>. Porém, não são profissionais formados nas 3 áreas de atuação que temos como foco.
          Sabendo disso, é importante destacar que o primeiro passo para se tornar um profissional que cuida de idosos
          ou pacientes com necessidades especiais é se qualificar por meio de cursos, os quais ensina as maneiras
          corretas de cuidar
          de pessoas com mais idade e quais funções você deverá cumprir. É por meio dessa capacitação que você estará
          apto a cuidar
          de qualquer pessoa idosa ou paciente, independente da sua condição de saúde.
        </p>
        <p>
          Vale lembrar que apesar de trabalhar com a saúde de pessoas mais velhas, o cuidador de pacientes da terceira
          idade ainda não é considerado um profissional da saúde e sim um empregado doméstico, já que a PEC que diz
          respeito às duas profissões são as mesmas. Isso significa que o cuidador de idoso também possui benefícios
          previdenciários e trabalhistas.
        </p>
      </div>
      <br>
      <div>
        <h2>E quais são esses direitos e benefícios?</h2>
        <p>
          O cuidador de idosos pode receber desde o seguro desemprego, até o salário-maternidade, férias remuneradas e
          décimo terceiro salário. Além disso, o profissional também tem direito a horas extras e adicionais noturnos,
          além de pelo menos 1 folga na semana.
        </p>
      </div>
    </div>
  </div>
</div>
