.grid-profile {
  width: 100%;
  margin-top: 125px;
  margin-bottom: 125px;
}

.profile-content {
  width: auto;
}

.img-logo {
  width: 400px;
}

.input-profile {
  font-size: medium;
}

.mat-form-field {
  width: 350px;
}

/* MAIN CARD CONTENT */
.main-card-content {
  display: block;
}

.main-card-content img {
  width: 80%;
  max-width: 30rem;
  min-width: 10rem;
  padding-bottom: 0.6rem;
}

.main-card-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-card-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.main-card-content-card p {
  text-align: center;
}

.title {
  font-size: xx-large;
  text-align: center;
  padding-bottom: 10px;
}

.input-info {
  font-size: medium;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.icon-input {
  padding-right: 0.625rem;
}

.button-info {
  font-size: medium;
  display: flex;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.input-dado {
  color: black;
}

.mat-form-field {
  width: 350px;
}

.disponibilidade {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.btn-disponibilidade {
  padding-bottom: 10px;
}

.btn-disponibilidade > h2 {
  padding-bottom: 20px;
}


/*responsive*/
@media(max-width: 1024px) {
  .grid-profile {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .img-logo {
    width: 250px;
  }

  .main-card-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-info {
    font-size: medium;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .button-info {
    font-size: medium;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media(max-width: 768px) {
  .grid-profile {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .img-logo {
    width: 250px;
  }

  .main-card-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-info {
    font-size: medium;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .button-info {
    font-size: medium;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media(max-width: 574px) {
  .grid-profile {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .img-logo {
    width: 150px;
  }


  .button-info {
    font-size: medium;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }

}

@media(max-width: 350px) {
  .grid-profile {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .img-logo {
    width: 100px;
  }

}
