<div class="container">
  <div class="title">
    <h1>Prontuário do Paciente</h1>
  </div>

  <div class="wrapper">
    <div class="user-info">
      <h3>Fulano de tal</h3>
    </div>

    <div class="card-container">

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">account_box</mat-icon>
            <h3>Perfil</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Nome: <span>Maria Socorro</span></p>
          <p>Idade: <span>65</span></p>
          <p>Sexo: <span>Feminino</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">place</mat-icon>
            <h3>Endereço</h3>
          </div>
        </div>
        <div class="card-content">
          <p>CEP: <span>12.345-789</span></p>
          <p>Logradouro e Número: <span>Rua A Casa 01</span></p>
          <p>Cidade: <span>Brasília</span></p>
          <p>UF: <span>DF</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">soap</mat-icon>
            <h3>Alergias</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Alergia: <span>Vrau</span></p>
          <p>Grau: <span>55</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">pregnant_woman</mat-icon>
            <h3>Comorbidades</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Comorbidade: <span>Diabetes</span></p>
          <p>Cuidados: <span>Não comer doces</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">monitor_heart</mat-icon>
            <h3>Dispositivos</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Dispositivo: <span>Marca passo</span></p>
          <p>Cuidados: <span>Evitar movimentos bruscos</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">content_paste</mat-icon>
            <h3>Prescrições</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Remédio: <span>Amoxicilina</span></p>
          <p>Horários: <span>De 8 em 8 horas</span></p>
          <p>Via: <span>Oral</span></p>
        </div>
      </div>

    </div>
  </div>
</div>
