<div class="container" *ngIf="paciente" >
  <div class="title">
    <h1>Prontuário do Paciente</h1>
  </div>

  <div class="wrapper">
    <div class="user-info">
      <h3>Fulano de tal</h3>
    </div>

    <div class="card-container">

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">account_box</mat-icon>
            <h3>Perfil</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Nome: <span>{{paciente?.nome}}</span></p>
          <p>Data de nascimento: <span>{{paciente?.data_nascimento}}</span></p>
          <p>Sexo: <span>{{paciente?.sexo == "M" ? "Masculino": "Feminino"}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">place</mat-icon>
            <h3>Endereço</h3>
          </div>
        </div>
        <div class="card-content">
          <p>CEP: <span>{{paciente?.cep}}</span></p>
          <p>Logradouro e Número: <span>{{paciente?.logradouro}}</span></p>
          <p>Cidade: <span>{{paciente?.cidade}}</span></p>
          <p>UF: <span>{{paciente?.uf}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">soap</mat-icon>
            <h3>Alergias</h3>
          </div>
        </div>
        <div class="card-content" *ngIf="alergia">
          <p>Alergia: <span>{{alergia?.alergia}}</span></p>
          <p>Grau: <span>{{alergia?.grau}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">pregnant_woman</mat-icon>
            <h3>Comorbidades</h3>
          </div>
        </div>
        <div class="card-content" *ngIf="comorbidade">
          <p>Comorbidade: <span>{{comorbidade?.comorbidade}}</span></p>
          <p>Cuidados: <span>{{comorbidade?.cuidados}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">monitor_heart</mat-icon>
            <h3>Dispositivos</h3>
          </div>
        </div>
        <div class="card-content" *ngIf="dispositivo">
          <p>Dispositivo: <span>{{dispositivo?.dispositivo}}</span></p>
          <p>Cuidados: <span>{{dispositivo?.cuidados}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">content_paste</mat-icon>
            <h3>Prescrições</h3>
          </div>
        </div>
        <div class="card-content" *ngIf="prescricao">
          <p>Remédio: <span>{{prescricao?.remedio}}</span></p>
          <p>Horários: <span>{{prescricao?.horarios}}</span></p>
          <p>Via: <span>{{prescricao?.via}}</span></p>
        </div>
      </div>

    </div>
  </div>
</div>
