<div class="stepper-container">
  <mat-stepper [linear]="true" class="stepper">
    <mat-step color="accent">
      <form class="stepper-form">
        <ng-template matStepLabel>EXPERIÊNCIA</ng-template>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">work</mat-icon>
            <mat-label>EMPRESA</mat-label>
            <input matInput [(ngModel)]="experiencia.empresa" name="empresa" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">description</mat-icon>
            <mat-label>CARGO</mat-label>
            <input matInput [(ngModel)]="experiencia.cargo" name="cargo" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">description</mat-icon>
            <mat-label>DESCRIÇÃO</mat-label>
            <input matInput type="text" [(ngModel)]="experiencia.descricao" name="descricao" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>DATA INÍCIO</mat-label>
            <mat-icon matPrefix class="icon-input">date_range</mat-icon>
            <input matInput [(ngModel)]="experiencia.data_inicio" name="data_inicio" mask="00/00/0000"
              placeholder="Ex.: 00/00/0000" required>
          </mat-form-field>
          <mat-form-field *ngIf="!experiencia.atual" appearance="outline">
            <mat-label>DATA FIM / PREVISÃO</mat-label>
            <mat-icon matPrefix class="icon-input">date_range</mat-icon>
            <input matInput [(ngModel)]="experiencia.data_fim" name="data_fim" mask="00/00/0000"
              placeholder="Ex.: 00/00/0000">
          </mat-form-field>
          <mat-checkbox name="atual" [checked]="experiencia.atual ? true : false" color="warn"
            style="margin-right: 5px;" [(ngModel)]="experiencia.atual">
            ATUAL
          </mat-checkbox>
          <!-- <div class="last-line">
            <mat-radio-group aria-label="Atual" name="em_andamento" [(ngModel)]="experiencia.atual" color="warn">
              <mat-radio-button [value]=true>Sim</mat-radio-button>
              <mat-radio-button [value]=false style="margin-left: 10px;">Não</mat-radio-button>
            </mat-radio-group>
          </div> -->
        </div>
        <div class="nav-button">
          <button mat-button class="button-prev" matStepperPrevious>ANTERIOR</button>
          <button mat-button class="button-next" matStepperNext>PRÓXIMO</button>
        </div>
      </form>
    </mat-step>

    <mat-step color="accent">
      <form class="stepper-form">
        <ng-template matStepLabel>CERTIFICAÇÃO</ng-template>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">work</mat-icon>
            <mat-label>INSTITUIÇÃO</mat-label>
            <input matInput [(ngModel)]="certificao.instituicao" name="instituicao" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">description</mat-icon>
            <mat-label>TÍTULO</mat-label>
            <input matInput [(ngModel)]="certificao.titulo" name="titulo" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">schedule</mat-icon>
            <mat-label>CARGA HORÁRIA</mat-label>
            <input matInput type="number" suffix="HORAS" [(ngModel)]="certificao.carga_horaria" name="carga_horaria"
              required>
          </mat-form-field>
        </div>
        <div class="nav-button">
          <button mat-button class="button-prev" matStepperPrevious>ANTERIOR</button>
          <button mat-button class="button-next" matStepperNext>PRÓXIMO</button>
        </div>
      </form>
    </mat-step>

    <mat-step color="accent">
      <form class="stepper-form">
        <ng-template matStepLabel>FORMAÇÃO</ng-template>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">work</mat-icon>
            <mat-label>INSTITUIÇÃO</mat-label>
            <input [(ngModel)]="formacao.instituicao" name="instituicao" matInput required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">description</mat-icon>
            <mat-label>CURSO</mat-label>
            <input matInput required [(ngModel)]="formacao.curso" name="curso">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">description</mat-icon>
            <mat-label>PERÍODO</mat-label>
            <input matInput required name="periodo" maxlength="1" [(ngModel)]="formacao.periodo">
          </mat-form-field>
          <span>M - Matutino, V - Vespertino, N - Noturno</span>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">date_range</mat-icon>
            <mat-label>DATA INÍCIO</mat-label>
            <input matInput name="data_inicio" placeholder="Ex.: 00/00/0000" mask="00/00/0000" required
              [(ngModel)]="formacao.data_inicio">
          </mat-form-field>
          <mat-form-field *ngIf="!formacao.em_andamento" appearance="outline">
            <mat-icon matPrefix class="icon-input">date_range</mat-icon>
            <mat-label>DATA FIM - PREVISÃO</mat-label>
            <input matInput name="data_formacao" placeholder="Ex.: 00/00/0000" mask="00/00/0000"
              [(ngModel)]="formacao.data_formacao">
          </mat-form-field>
          <mat-checkbox name="em_andamento" [checked]="formacao.em_andamento ? true : false" color="warn"
            style="margin-right: 5px;" [(ngModel)]="formacao.em_andamento">
            ESTOU CURSANDO
          </mat-checkbox>
        </div>

        <div class="nav-button">
          <button mat-button class="button-prev" matStepperPrevious>ANTERIOR</button>
          <button mat-button class="button-next" (click)="save()" matStepperNext>SALVAR</button>
        </div>
      </form>
    </mat-step>

  </mat-stepper>
</div>