<div class="container">
  <div class="title">
    <h1>Currículo do Cuidador</h1>
  </div>

  <div class="wrapper">
    <div class="user-info">
      <h3>Fulano de tal</h3>
    </div>

    <div class="card-container">

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">account_box</mat-icon>
            <h3>Perfil</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Nome: <span>João de Souza</span></p>
          <p>Idade: <span>30</span></p>
          <p>Sexo: <span>Masculino</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">place</mat-icon>
            <h3>Endereço</h3>
          </div>
        </div>
        <div class="card-content">
          <p>CEP: <span>98.765-321</span></p>
          <p>Logradouro e Número: <span>Rua B Casa 02</span></p>
          <p>Cidade: <span>Brasília</span></p>
          <p>UF: <span>DF</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">work</mat-icon>
            <h3>Experiências</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Empresa: <span>Qualquer uma</span></p>
          <p>Cargo: <span>Enfermeiro</span></p>
          <p>Descrição: <span>Atendia pacientes.</span></p>
          <p>Data Início: <span>30/11/2015</span></p>
          <p>Data Fim: <span>15/10/2019</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">verified_user</mat-icon>
            <h3>Certificações</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Instituição: <span>UniCEUB</span></p>
          <p>Título: <span>Curso de Primeiros Socorros</span></p>
          <p>Carga Horária: <span>60 horas</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">school</mat-icon>
            <h3>Formação</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Instituição: <span>UniCEUB</span></p>
          <p>Curso: <span>Enfermagem</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">call</mat-icon>
            <h3>Contatos</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Telefone: <span>(61) 98765-4321</span></p>
          <p>E-mail: <span>joaods@email.com</span></p>
        </div>
      </div>

    </div>
  </div>
</div>
