<div class="container">
  <div class="title">
    <h1>Currículo do Cuidador</h1>
  </div>

  <div class="wrapper">
    <div class="user-info">
      <h3>{{cuidador?.nome}}</h3>
    </div>

    <div class="card-container">

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">account_box</mat-icon>
            <h3>Perfil</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Nome: <span>{{cuidador?.nome}}</span></p>
          <p>Data de Nascimento: <span>{{cuidador?.data_nascimento}}</span></p>
          <p>Sexo: <span>{{cuidador?.nome == "M" ? "Feminino" : "Masculino" }}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">place</mat-icon>
            <h3>Endereço</h3>
          </div>
        </div>
        <div class="card-content">
          <p>CEP: <span>{{cuidador?.cep}}</span></p>
          <p>Logradouro e Número: <span>{{cuidador?.logradouro}}</span></p>
          <p>Cidade: <span>{{cuidador?.cidade}}</span></p>
          <p>UF: <span>{{cuidador?.uf}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">work</mat-icon>
            <h3>Experiências</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Empresa: <span>{{experiencia?.empresa}}</span></p>
          <p>Cargo: <span>{{experiencia?.cargo}}</span></p>
          <p>Descrição: <span>{{experiencia?.descricao}}</span></p>
          <p>Data Início: <span>{{experiencia?.data_inicio}}</span></p>
          <p>Data Fim: <span>{{experiencia?.data_fim}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">verified_user</mat-icon>
            <h3>Certificações</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Instituição: <span>{{certificacao?.instituicao}}</span></p>
          <p>Título: <span>{{certificacao?.titulo}}</span></p>
          <p>Carga Horária: <span>{{certificacao?.carga_horaria}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">school</mat-icon>
            <h3>Formação</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Instituição: <span>{{formacao?.instituicao}}</span></p>
          <p>Curso: <span>{{formacao?.curso}}</span></p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <div class="title-info">
            <mat-icon matPrefix class="icon-input">call</mat-icon>
            <h3>Contatos</h3>
          </div>
        </div>
        <div class="card-content">
          <p>Telefone: <span>{{cuidador?.celular}}</span></p>
          <p>E-mail: <span>{{cuidador?.email}}</span></p>
        </div>
      </div>

    </div>
  </div>

  <div class="title">
    <button mat-flat-button style="background-color: #FF9900; color: white; border: 2px solid #B21E1E;"
      (click)="match()">VOLTAR
    </button>
  </div>

</div>
