<div class="content">
  <div class="title">
    <section>
      <div>
        <h1>Sobre Nós</h1>
      </div>
    </section>
  </div>
  <br>
  <div class="body">
            <h2>Surgimento</h2>
            <p>A Cuida+ nasceu do sonho de oferecer mais qualidade de vida a quem precisa. Em seus anos trabalhando com idosos e adultos com comorbidades físicas, percebeu que os pacientes acompanhados de perto tiveram grande melhora física e psicológica.             O intuito de levar conforto e cuidado a um número ainda maior de idosos é o que move a Cuida+, sempre prezando por ter em nosso time profissionais capacitados que trabalham de acordo com os princípios da humanização, levando saúde e conforto para pessoas longevas.</p>
            <br>
            <h2>2021</h2>
            <p>No ano de 2021 tivemos a iniciativa de criar um sistema que faça a ligação entre cuidadores e idosos/pessoas com comorbidade afim de melhorar a qualidade de vida deste. Essa iniciativa teve bastante influência da situação nacional em relação ao vírus que nos rondava, o COVID 19.</p>
            <p>Estavamos em estado de alerta nacional e, das pessoas que se conseguiam se recuperar do vírus, uma parcentagem ainda ficava com algumas sequelas ou com alguma complicação que necessitasse de um cuidado maior. Esse impulsionador nos mostrou mais claramente como era necessária ter algo que pudesse auxiliar mais facilmente as pessoas, ainda mais nesse momento de imensa dificuldade.</p>
            <br>
            <h3><strong>Nossa Missão</strong></h3>
            <p>“Trazer conforto e segurança para a família.”</p>
            <p>Como cumprimos isso? Recrutando e selecionando profissionais cuidadores, checando seus antecedentes criminais e profissionais, capacitando cuidadores, garantindo que estejam satisfeitos no trabalho e que atendam as expectativas de nossos clientes. Paralelamente, oferecemos serviços complementares como fornecimento de cadeiras de rodas e banho, monitoramento por câmeras, serviços de departamento pessoal (contabilidade) para funcionários domésticos.</p>
            <br>
            <h3><strong>Nossa Visão</strong></h3>
            <p>“Até o final de 2022 seremos referência no mercado de cuidadores no Brasil, incluindo: seleção de pessoal; consultoria para montagem de equipes de trabalho; terceirização e capacitação de mão de obra; monitoramento de atividades de vida diária de idosos, crianças e pessoas com deficiência.”</p>
            <br>
            <h3 class="themecolor"><strong>Nossos Valores</strong></h3>
            <ul>
            <p>- Dedicação a servir e cuidar;</p>
            <p>- Foco no cliente, transmitindo segurança e confiança à família;</p>
            <p>- Profissionalismo e humanidade na prestação dos serviços;</p>
            <p>- Comprometimento com o trabalhador e com os parceiros;</p>
            <p>- Só está bom quando o CLIENTE diz que está bom;</p>
            <p>- Política de preços justos;</p>
            <p>- Geração de resultados positivos;</p>
            <p>- Crescimento sustentável do negócio.</p>
            </ul>
  </div>
  </div>
