<div class="grid-match">
  <div class="match-content">
    <div class="main-card-content">
      <div class="main-card-content-wrapper">

        <div class="main-card-content-card-filter">
          <h2 class="title">ENCONTRE SEU CUIDADOR</h2>
          <div class="input-match">
              <mat-form-field appearance="outline" class="form-filter">
                <mat-label>SEXO</mat-label>
                <mat-select name="teste" required>
                  <mat-option>--</mat-option>
                  <!-- <mat-option *ngFor="let sex of sexs" [value]="sex.value">
                    {{sex.name}}
                  </mat-option> -->
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-filter">
                <mat-label>ESPECIALIDADE</mat-label>
                <mat-select name="teste" required>
                  <mat-option>--</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- ACREDITO QUE NÃO PRECISE TER ESSE -->
              <!-- <mat-form-field appearance="outline" class="form-filter">
                <mat-label>AVALIAÇÃO</mat-label>
                <mat-select name="teste" required>
                  <mat-option>--</mat-option>
                </mat-select>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="form-filter">
                <mat-label>VALOR</mat-label>
                <mat-select name="teste" required>
                  <mat-option>--</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-filter">
                <mat-label>DISPONIBILIDADE</mat-label>
                <mat-select name="teste" required>
                </mat-select>
              </mat-form-field>

            <div class="btn-filter">
              <button mat-flat-button style="background-color: #38A3A5; color: white; border: 2px solid #22577A;"
                (click)="openDialog()">FILTRAR</button>
            </div>

          </div>
        </div>

        <div class="main-card-content-card input-mapa">
          <app-mapa class="mapa" [marcar]="false" [dadosUser]=dadosUser [latLongArray]=latLongArray></app-mapa>
        </div>

      </div>
    </div>
  </div>
</div>
