<div class="content">
    <div class="title">
      <section>
        <div>
          <h1>Quem somos</h1>
        </div>
      </section>
    </div>
    <br>
    <div class="body">
              <h2>Classificação</h2>
              <p>A Cuida+ é uma empresa de prestação de serviços de cuidadores.</p>
              <p> Temos profissionais capacitados para cuidar de crianças, adultos e idosos. Nossa missão é cuidar das pessoas priorizando o bem-estar de cada um de forma personalizada e assim permitindo que os familiares continuem com a suas atividades cotidianas e garantindo a segurança do assistido.</p>
              <br>
              <h2>Descrição</h2>
              <p>Nossos serviços podem ser por período prolongado, cobertura de férias, folgas, acompanhar em exames e consultas. Temos também profissionais capacitados para períodos de recuperação cirúrgica e cuidadores acompanhantes para períodos de internação hospitalar.</p>
              <p>A Cuida+ nasceu do firme propósito de oferecer assistência de cuidados a todas as pessoas com necessidades físicas ou emocionais.</p>
              <p>Diante do mercado atual e do aumento da expectativa de vida criamos a Cuida+ focada nas necessidades dos assistidos e de seus familiares. A nossa proposta de atendimento é focada nos cuidados dos assistidos, não só do ponto de vista físico como emocional, proporcionando segurança, confiança e agilidade de forma personalizada.</p>
              <p>Disponibilizamos profissionais capacitados para cuidar com muito amor, carinho e dedicação, sempre priorizando o bem-estar e a segurança de cada um e, assim permitindo que os familiares continuem com as suas atividades cotidianas.</p>
              <p>Os nossos cuidadores estão capacitados para cuidar e acompanhar idosos, gestantes, crianças, adultos, pacientes no pós-operatório e pessoas com necessidades especiais. Os locais da prestação de serviços serão determinados pelo contratante, podendo ser na residência do assistido, casa de repouso, laboratório, consultório médico, hospital ou de acordo com a necessidade do assistido.</p>
              <br>
              
    </div>
</div>