<div class="grid-login">
  <div class="login-content">
    <mat-grid-list cols="2" rowHeight="2:1.5">
      <mat-grid-tile>
        <img mat-card-image src="../../../assets/img/logo.png" alt="Logo" class="img-logo">
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-cadastro">
          <p class="title">INSIRA ABAIXO SEUS DADOS DE ACESSO</p>
          <mat-radio-group color="warn">
            <div class="tipoUsuario">
              <mat-radio-button value="1" [(ngModel)]="tipoUsuario" name="tipoUsuario" ngDefaultControl style="padding-right: 0.7rem;">Paciente
              </mat-radio-button>
              <mat-radio-button value="2" [(ngModel)]="tipoUsuario" name="tipoUsuario" ngDefaultControl>Cuidador
              </mat-radio-button>
            </div>
          </mat-radio-group>
          <p>
            <mat-form-field appearance="outline">
              <mat-icon matPrefix class="icon-input">badge</mat-icon>
              <mat-label>CPF</mat-label>
              <input matInput placeholder="Ex.: 000.000.000-00"
                pattern="([0-9]{2}[.]?[0-9]{3}[.]?[0-9]{3}[/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[.]?[0-9]{3}[.]?[0-9]{3}[-]?[0-9]{2})"
                [(ngModel)]="login.cpf_cnpj" mask="000.000.000-99" required>
              <mat-hint>Digite seu CPF</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="**********" [(ngModel)]="login.senha">
              <button mat-icon-button matPrefix class="icon-input" (click)="hide = !hide" [attr.aria-label]="'Esconder senha'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Digite sua senha.</mat-hint>
            </mat-form-field>
          </p>
          <p *ngIf="loginError" style="color: #f44336;">
            Usuário ou senha incorretos
          </p>
          <section class="confirm">
            <span class="info">
              <a (click)="navigateToCadastro()" style="text-decoration: underline; cursor: pointer;">
                NÃO POSSUO CADASTRO
              </a>
            </span>
            <button mat-flat-button style="background-color: #38A3A5; color: white; border: 2px solid #22577A;"
              (click)="logar()">ACESSAR</button>
          </section>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
