<div class="grid-login">
  <div class="login-content">
    <mat-grid-list cols="2" rowHeight="2:1.5">
      <mat-grid-tile>
        <img mat-card-image src="../../../assets/img/logo.png" alt="Logo" class="img-logo">
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-cadastro">
          <p class="title">INSIRA ABAIXO SEUS DADOS DE ACESSO</p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>CPF/CNPJ</mat-label>
              <!-- <mat-icon matPrefix>person</mat-icon> -->
              <input matInput placeholder="Ex.: 000.000.000-00" name="" [(ngModel)]="login.cpf_cnpj">
              <!-- [(ngModel)]="login.username" -->
              <!-- <mat-icon matSuffix>CPF/CNPJ</mat-icon> -->
              <mat-hint>Digite seu CPF ou CNPJ</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="**********" [(ngModel)]="login.senha">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder senha'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Digite sua senha.</mat-hint>
            </mat-form-field>
          </p>
          <section class="confirm">
            <span class="info">
              <a (click)="navigateToCadastro()" style="text-decoration: underline; cursor: pointer;">
                NÃO POSSUO CADASTRO
              </a>
            </span>
            <button mat-flat-button style="background-color: #38A3A5; color: white; border: 2px solid #22577A;"
              (click)="logar()">ACESSAR</button>
          </section>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>