<div class="grid-profile">
  <div class="profile-content">

    <div class="main-card-content">
      <div class="main-card-content-wrapper">
        <!-- LOGO -->
        <div class="main-card-content-card">
          <img src="assets/img/logo.png" alt="Logo" class="main-card-content-img">
        </div>

        <!-- INFO PROFILE -->
        <div class="main-card-content-card">
          <p class="title">DADOS CADASTRADOS</p>
          <div class="input-info">
            <p>
              <mat-form-field appearance="outline">
                <mat-label class="input-dado">Nome Completo</mat-label>
                <input [(ngModel)]="paciente.nome" matInput [value]="paciente.nome" class="input-dado"
                  placeholder="Nome" [disabled]="!podeEditar">
                <mat-icon matPrefix class="icon-input">person</mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label class="input-dado">Email</mat-label>
                <input [(ngModel)]="paciente.email" matInput [value]="paciente.email" class="input-dado"
                  placeholder="email@email.com" [disabled]="!podeEditar">
                <mat-icon matPrefix class="icon-input">email</mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label class="input-dado">Data de Nascimento</mat-label>
                <input [(ngModel)]="paciente.data_nascimento" matInput [value]="paciente.data_nascimento"
                  class="input-dado" placeholder="31/08/1951" [disabled]="!podeEditar">
                <mat-icon matPrefix class="icon-input">event</mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label class="input-dado">Sexo</mat-label>
                <mat-select [(ngModel)]="paciente.sexo" name="sexo" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let sex of sexs" [value]="sex.value">
                    {{sex.name}}
                  </mat-option>
                </mat-select>
                <mat-icon matPrefix class="icon-input">transgender</mat-icon>
              </mat-form-field>
            </p>
          </div>
          <div class="button-info">
            <button mat-flat-button style="background-color: #FF9900; color: white; border: 2px solid #B21E1E;"
              (click)="deleteCadastro()">DELETAR CADASTRO
            </button>
            <button mat-flat-button style="background-color: #38A3A5; color: white; border: 2px solid #22577A;"
              (click)="editCadastro()">ALTERAR DADOS
            </button>
            <button mat-flat-button style="background-color: #FECD4D; color: black; border: 2px solid #22577A;"
              (click)="prontuario()">PRONTUÁRIO
            </button>
            <button mat-flat-button style="background-color: #ae4dfe; color: white; border: 2px solid #6800bd;"
              (click)="findHelper()">VISUALIZAR CUIDADORES
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
