<div class="grid-home">
  <div class="nav-bar">
    <div class="nav-item">
      <a href="/">
        <i class="fas fa-home icon-nav"></i>
        <span>Início</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="#services">
        <i class="fas fa-briefcase icon-nav"></i>
        <span>Serviços</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="#partners">
        <i class="fas fa-hands-helping icon-nav"></i>
        <span>Parceiros</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="#about">
        <i class="fas fa-child icon-nav"></i>
        <span>Quem Somos</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="#contact">
        <i class="fas fa-comment icon-nav"></i>
        <span>Contato</span>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/login">
        <i class="fas fa-sign-in-alt icon-nav"></i>
        <span>Login/Cadastro</span>
      </a>
    </div>
  </div>

  <div class="main-card-content">
    <div class="main-card-content-wrapper">
      <div class="main-card-content-card">
        <img src="assets/img/logo.png" alt="Logo" class="main-card-content-img">
      </div>
      <div class="main-card-content-card">
        <img src="assets/img/app-mobile.png" alt="Logo" class="main-card-content-img">
        <p class="description">
          Cuidadores de idosos qualificados que você e sua família precisam, você encontra no Cuida+.
          <br>Nós encontramos rapidamente o cuidador que poderá te atender no dia e horário escolhido.
        </p>
      </div>
    </div>
  </div>

</div>

<!-- SERVICES -->
<div class="card services-card card-content" id="services">
  <div>
    <h2 class="text-title text-content">SERVIÇOS OFERECIDOS</h2>
    <!-- Text Description -->
    <h3 class="text-subtitle text-content">
      <p>
        Para idosos: Facilidade para encontrar cuidadores, possibilidade de avaliar, conversar e selecionar de
        acordo com as informações disponibilizadas por cada cuidador.
      </p>
    </h3>
    <mat-divider></mat-divider>
    <h3 class="text-subtitle text-content">
      <p>
        Para cuidadores: Facilidade para encontrar pessoas que necessitam de cuidados especiais e selecionar as
        opções que estejam de acordo com o procurado pelo profissional.
      </p>
    </h3>
    <mat-divider></mat-divider>
    <h3 class="text-subtitle text-content">
      <p>
        Benefícios: maior cuidado e atenção com a saúde dos idosos, divulgação de profissionais da área, maior
        visibilidade para o assunto.
      </p>
    </h3>
  </div>
</div>

<!-- PARTNERS -->
<div class="card partners-card card-content" id="partners">
  <div class="card-partners">
    <h2 class="text-title text-content">PARCEIROS</h2>
    <div class="partners_container grid-partners">
      <!--==================== PARTNER 1 ====================-->
      <div class="card-box">
        <div class="partners_content">
          <a href="https://www.uniceub.br/" target="_blank">
            <img mat-card-image src="assets/img/partners/ceub.png" alt="Logo" class="partner-logo">
            <h3 class="partners_title">UniCEUB</h3>
          </a>
        </div>
      </div>
      <!--==================== PARTNER 2 ====================-->
      <div class="card-box">
        <div class="partners_content">
          <a href="https://helpmy.com.br/" target="_blank">
            <img mat-card-image src="assets/img/partners/helpmy.png" alt="Logo" class="partner-logo">
            <h3 class="partners_title">Helpmy</h3>
          </a>
        </div>
      </div>
      <!--==================== PARTNER 3 ====================-->
      <div class="card-box">
        <div class="partners_content">
          <a href="https://www.ls.edu.br/" target="_blank">
            <img mat-card-image src="assets/img/partners/ls-edu.png" alt="Logo" class="partner-logo">
            <h3 class="partners_title">LS Educacional</h3>
          </a>
        </div>
      </div>
      <!--==================== PARTNER 4 ====================-->
      <div class="card-box">
        <div class="partners_content">
          <a href="https://www.coren-df.gov.br/site/" target="_blank">
            <img mat-card-image src="assets/img/partners/coren.png" alt="Logo" class="partner-logo">
            <h3 class="partners_title">Coren</h3>
          </a>
        </div>
      </div>
      <!--==================== PARTNER 5 ====================-->
      <div class="card-box">
        <div class="partners_content">
          <a href="https://www.crefito11.gov.br/home.php" target="_blank">
            <img mat-card-image src="assets/img/partners/crefito.png" alt="Logo" class="partner-logo">
            <h3 class="partners_title">Crefito 11</h3>
          </a>
        </div>
      </div>
      <!--==================== PARTNER 6 ====================-->
      <div class="card-box">
        <div class="partners_content">
          <a href="/" target="_blank">
            <img mat-card-image src="assets/img/partners/what.png" alt="Logo" class="partner-logo">
            <h3 class="partners_title">A DECIDIR</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ABOUT -->
<div class="card about-card card-content" id="about">
  <div class="card-about">
    <h2 class="text-title text-content">Quem Somos</h2>
    <!-- Text Description -->
    <h3 class="text-subtitle text-content">
      <p>
        Somos um grupo de estudantes do Centro Universitário de Brasília - UniCEUB, estamos no último semestre
        do curso de bacharelado em Ciência da Computação e este é nosso Trabalho de Conclusão de Curso.
        <br>
      </p>
    </h3>
    <div class="about_container grid-about">
      <!--==================== ABOUT 1 ====================-->
      <div class="card-box-about">
        <div class="about_content">
          <a href="https://www.linkedin.com/in/arthurpcorrea/" target="_blank">
            <img mat-card-image src="assets/img/about/arthur.png" alt="Logo" class="about-logo">
            <h3 class="about_title">Arthur Passos</h3>
          </a>
        </div>
      </div>
      <!--==================== ABOUT 2 ====================-->
      <div class="card-box-about">
        <div class="about_content">
          <a href="https://www.linkedin.com/in/franklinarauj/" target="_blank">
            <img mat-card-image src="assets/img/about/franklin.png" alt="Logo" class="about-logo">
            <h3 class="about_title">Franklin Araújo</h3>
          </a>
        </div>
      </div>
      <!--==================== ABOUT 3 ====================-->
      <div class="card-box-about">
        <div class="about_content">
          <a href="https://www.linkedin.com/in/guilherme-santana-04360917a/" target="_blank">
            <img mat-card-image src="assets/img/about/guilherme.png" alt="Logo" class="about-logo">
            <h3 class="about_title">Guilherme Santana</h3>
          </a>
        </div>
      </div>
      <!--==================== ABOUT 4 ====================-->
      <div class="card-box-about">
        <div class="about_content">
          <a href="https://www.linkedin.com/in/murilo-kronbauer-293937184/" target="_blank">
            <img mat-card-image src="assets/img/about/murilo.png" alt="Logo" class="about-logo">
            <h3 class="about_title">Murilo Kronbauer</h3>
          </a>
        </div>
      </div>
      <!--==================== ABOUT 5 ====================-->
      <div class="card-box-about">
        <div class="about_content">
          <a href="https://www.linkedin.com/in/thiago-alexandre-fernandes-silva-47536795/" target="_blank">
            <img mat-card-image src="assets/img/about/thiago.png" alt="Logo" class="about-logo">
            <h3 class="about_title">Thiago Alexandre</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONTACT -->
<div class="card contact-card card-content" id="contact">
  <div>
    <h2 class="text-title text-content">CONTATO</h2>
    <div class="contact_container grid-contact">
      <div>

        <!--==================== PHONE ====================-->
        <div class="contact_information grid-contact-info">
          <i class="fas fa-phone-alt"></i>

          <div class="contact-info">
            <h3 class="contact_title">Telefone</h3>
            <span class="contact_subtitle">+55 61 98765-4321</span>
          </div>
        </div>

        <!--==================== E-MAIL ====================-->
        <div class="contact_information grid-contact-info">
          <i class="fas fa-envelope"></i>

          <div class="contact-info">
            <h3 class="contact_title">E-mail</h3>
            <span class="contact_subtitle">contatocuidamais@gmail.com</span>
          </div>
        </div>

        <!--==================== LOOCALE ====================-->
        <div class="contact_information grid-contact-info">
          <i class="fas fa-map-marker-alt"></i>

          <div class="contact-info">
            <h3 class="contact_title">Localização</h3>
            <span class="contact_subtitle">Brasília/DF - Brasil</span>
          </div>
        </div>

      </div>

      <form action="" class="contact_form grid">
        <div class="contact_inputs grid">

          <div class="contact_content">
            <label class="contact_label">Assunto</label>
            <input id="subject" type="text" class="contact_input">
          </div>
        </div>

        <div class="contact_content" style="margin-top: 15px;">
          <label class="contact_label">Mensagem</label>
          <textarea id="myText" cols="0" rows="7" maxlength="500" class="contact_input"
            style="resize: vertical"></textarea>
        </div>

        <div>
          <a onclick="sendMail(); return false" class="button button--flex" style="cursor: pointer;">
            Enviar mensagem
            <i class="fas fa-paper-plane button--icon"></i>
          </a>
        </div>

      </form>
    </div>

  </div>
</div>
