:host {
  font-family: 'Oxanium', cursive;
  font-size: 14px;
  color: #2C2C2C;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

mat-divider {
  margin: 0 18px 0 18px;
}

a,
a:visited {
  color: #2C2C2C;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

/* IMG */
.img-demo {
  width: 560px;
  margin-left: auto;
  margin-right: 100px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

/* NAV */
.nav-item {
  margin-right: 18px;
}

.icon-nav {
  margin-right: 9px;
}

.nav-bar {
  margin: auto;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  column-gap: 1rem;
  font-size: 18px;
}

/* APP */
.app-info {
  justify-content: center;
  align-items: center;
}

/* CARD */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.card-content {
  height: auto;
  width: auto;
}

.card.services-card {
  background-color: #38A3A5;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

/* TEXT */
.text-description {
  margin-top: 15px;
  font-size: large;
  align-items: center;
  text-align: center;
}

.text-button {
  margin-left: 5px;
}

.text-title {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 26px;
}

.text-subtitle {
  font-size: large;
}

/* OTHERS */
.text-content {
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
  justify-content: center;
  text-align: center;
}

/* PARTNERS */
.card-box {
  border: 6px solid #38A3A5;
  border-radius: 8px;
  background: #80ED99;
  width: auto;
  height: max-content;
}

.partners_content {
  position: relative;
  color: #000;
  padding: 5rem 3.5rem 1.5rem 3.5rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, .15);
  transition: .2s;
}

.partners_content:hover {
  box-shadow: 0 16px 24px rgba(0, 0, 0, .30);
}

.partners_title {
  font-size: medium;
  margin-bottom: var(--mb-1);
  font-weight: 500;
  justify-content: center;
  text-align: center;
}

.partner-logo {
  width: 200px;
  height: auto;
}

.grid-partners {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.card-partners {
  padding-bottom: 25px;
}

.card.partners-card {
  background-color: #22577A;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

/* ABOUT */
.card.about-card {
  background-color: #38A3A5;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.about_content {
  display: grid;
  padding: 2rem 2.5rem 2rem 2.5rem;
  justify-content: center;
  text-align: center;
}

.about-box {
  justify-content: center;
  text-align: center;
}

.about-logo {
  border-radius: 8px;
  width: 150px;
  height: auto;
}

.grid-about {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.perfil-logo {
  width: 50px;
  height: auto;
}

.about_title {
  font-size: medium;
  margin-bottom: var(--mb-1);
  font-weight: 500;
  justify-content: center;
  text-align: center;
}

.card-about {
  padding-bottom: 25px;
}

/* CONTACT */
.card.contact-card {
  background-color: #22577A;
  font-size: large;
  color: #fff;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
  align-items: center;
  vertical-align: center;
}

.contact_container {
  row-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid-contact {
  display: grid;
}

.contact-info {
  margin-left: 15px;
}

.grid-contact-info {
  padding-bottom: 15px;
  align-items: center;
  vertical-align: center;
}

.contact_information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact_icon {
  font-size: 2rem;
  color: #fff;
  margin-right: var(--mb-0-75);
}

.contact_title {
  font-size: var(--h3-font-size);
  font-weight: medium;
}

.contact_subtitle {
  font-size: small;
  color: #fff;
}

.contact_content {
  background-color: #38A3A5;
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact_label {
  font-size: medium;
  color: #fff;
}

.contact_input {
  width: 100%;
  background-color: #38A3A5;
  color: #fff;
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

.button {
  display: inline-block;
  background-color: #FF9900;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: #ee8f00;
  color: #000;
  transition: .3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--icon {
  margin-left: 5px;
}

.button--flex:hover .button--icon {
  transform: translateY(-.15rem);
  animation-duration: 0.3s;
  animation-name: fly;
}

/* ANIMATIONS ICON BUTTON */
@keyframes fly {
  from {
    transform: translateY(0rem)
  }

  25% {
    transform: translateX(.15rem)
  }

  50% {
    transform: translateY(-.15rem)
  }

  to {
    transform: translateX(.25rem)
  }
}

/*responsive*/
@media(max-width: 1024px) {
  .grid-home {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .content {
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    max-height: max-content;
  }

  .img-demo {
    width: 150px;
    margin-top: 120px;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .nav-item {
    margin-right: 9px;
  }

  .icon-nav {
    margin-right: 4px;
  }

  .nav-bar {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 1.5rem;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .last-nav {
    margin-top: 6px;
    margin-bottom: 6px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .img-logo {
    width: 150px;
  }

  .text-description {
    margin-top: 8px;
    font-size: small;
    align-items: center;
    text-align: center;
  }

  .card-box {
    border: 6px solid #38A3A5;
    border-radius: 8px;
    background: #80ED99;
    width: 150px;
    height: max-content;
  }

  .card.services-card {
    background-color: #38A3A5;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .partners_content {
    position: relative;
    color: #000;
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .15);
    transition: .2s;
  }

  .partners_content:hover {
    box-shadow: 0 16px 24px rgba(0, 0, 0, .30);
  }

  .partners_title {
    font-size: medium;
    margin-bottom: var(--mb-1);
    font-weight: 500;
    justify-content: center;
    text-align: center;
  }

  .partner-logo {
    width: 100px;
    height: auto;
  }

  .grid-partners {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .card.partners-card {
    background-color: #22577A;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .grid-about {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 768px) {
  .grid-home {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .content {
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    max-height: max-content;
  }

  .img-demo {
    width: 150px;
    margin-top: 120px;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .nav-item {
    margin-right: 9px;
  }

  .icon-nav {
    margin-right: 4px;
  }

  .nav-bar {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 1.5rem;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .last-nav {
    margin-top: 6px;
    margin-bottom: 6px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .img-logo {
    width: 150px;
  }

  .text-description {
    margin-top: 8px;
    font-size: small;
    align-items: center;
    text-align: center;
  }

  .card-box {
    border: 6px solid #38A3A5;
    border-radius: 8px;
    background: #80ED99;
    width: 150px;
    height: max-content;
  }

  .card.services-card {
    background-color: #38A3A5;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .partners_content {
    position: relative;
    color: #000;
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .15);
    transition: .2s;
  }

  .partners_content:hover {
    box-shadow: 0 16px 24px rgba(0, 0, 0, .30);
  }

  .partners_title {
    font-size: medium;
    margin-bottom: var(--mb-1);
    font-weight: 500;
    justify-content: center;
    text-align: center;
  }

  .partner-logo {
    width: 100px;
    height: auto;
  }

  .grid-partners {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .card.partners-card {
    background-color: #22577A;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .grid-about {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 574px) {
  .grid-home {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .content {
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    max-height: max-content;
  }

  .img-demo {
    width: 150px;
    margin-top: 120px;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .nav-item {
    margin-right: 9px;
  }

  .icon-nav {
    margin-right: 4px;
  }

  .nav-bar {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 1.5rem;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .last-nav {
    margin-top: 6px;
    margin-bottom: 6px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .img-logo {
    width: 150px;
  }

  .text-description {
    margin-top: 8px;
    font-size: small;
    align-items: center;
    text-align: center;
  }

  .card-box {
    border: 6px solid #38A3A5;
    border-radius: 8px;
    background: #80ED99;
    width: 150px;
    height: max-content;
  }

  .card.services-card {
    background-color: #38A3A5;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .partners_content {
    position: relative;
    color: #000;
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .15);
    transition: .2s;
  }

  .partners_content:hover {
    box-shadow: 0 16px 24px rgba(0, 0, 0, .30);
  }

  .partners_title {
    font-size: medium;
    margin-bottom: var(--mb-1);
    font-weight: 500;
    justify-content: center;
    text-align: center;
  }

  .partner-logo {
    width: 100px;
    height: auto;
  }

  .grid-partners {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card.partners-card {
    background-color: #22577A;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .grid-about {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact_container {
    row-gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 350px) {
  .grid-home {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .content {
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    max-height: max-content;
  }

  .img-demo {
    width: 100px;
    margin-top: 120px;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .nav-item {
    margin-right: 9px;
  }

  .icon-nav {
    margin-right: 4px;
  }

  .nav-bar {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 1.5rem;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .last-nav {
    margin-top: 6px;
    margin-bottom: 6px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .img-logo {
    width: 100px;
  }

  .text-description {
    margin-top: 8px;
    font-size: small;
    align-items: center;
    text-align: center;
  }

  .app-info > .img-demo {
    margin-bottom: 130px;
    margin-left: 90px;
    content: "Aplicativo Mobile";
  }
  .app-info > .text-description {
    display: none;
  }

  .card-box {
    border: 6px solid #38A3A5;
    border-radius: 8px;
    background: #80ED99;
    width: 150px;
    height: max-content;
  }

  .card.services-card {
    background-color: #38A3A5;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .partners_content {
    position: relative;
    color: #000;
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .15);
    transition: .2s;
  }

  .partners_content:hover {
    box-shadow: 0 16px 24px rgba(0, 0, 0, .30);
  }

  .partners_title {
    font-size: medium;
    margin-bottom: var(--mb-1);
    font-weight: 500;
    justify-content: center;
    text-align: center;
  }

  .partner-logo {
    width: 100px;
    height: auto;
  }

  .grid-partners {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .card.partners-card {
    background-color: #22577A;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .grid-about {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .contact_container {
    row-gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
