<div class="content">
  <div class="title">
    <section>
      <div>
        <h1>Cuidador(a) com formação em Enfermagem</h1>
      </div>
    </section>
  </div>
  <br>
  <div class="body">
    <h2>Serviços Prestados</h2>
    <p>Nossos cuidadores com formação em Enfermagem são capacitados em cuidar de pacientes em suas próprias casas,
      pessoas que receberam alta de hospitais e ainda necessitam de cuidados especiais durante o tratamento. Também
      cuida de pessoas idosas, pessoas com doenças crônicas mesmo em períodos em que não estão doentes ou pessoas com
      necessidades especiais.</p>
    <p> Esse atendimento pode ser feito de forma rotineira, a fim de avaliar a saúde dos pacientes ou recomendar
      melhoras
      práticas médicas, em acompanhamento com o médico para realizar diagnósticos ou até em atendimentos emergenciais.
    </p>
    <br>
    <h2>Perfil Profissional</h2>
    <p>Além de prestar os atendimentos técnicos e práticos, o profissional é um bom e paciente ouvinte — visto que,
      muitas vezes, a demanda por esse tipo de atendimento é gerada pela falta de cuidado, e não necessariamente uma
      condição patológica. Um simples gesto de atenção e de carinho pode ser suficiente para curar e, se não, oferece
      conforto e apoio.</p>
    <p>
      Os principais pontos de qualidade dos profissionais envolvem:
    </p>
    <ul>
      <li><b>Sensibilidade</b></li>
      <br>
      <li><b>Controle emocional</b></li>
      <br>
      <li><b>Facipdade de adaptação</b></li>
      <br>
      <li><b>Comprometimento e responsabipdade</b></li>
      <br>
      <li><b>Zelo e respeito pela condição do paciente</b></li>
      <br>
      <li><b>Vontade de aprender e melhorar suas quapdades no atendimento</b></li>
    </ul>
  </div>
</div>
