.grid-register {
  width: 100%;
  margin-top: 58px;
  margin-bottom: 58px;
}

.register-content {
  width: auto;
}

.img-logo {
  width: 400px;
}

.title {
  font-size: medium;
  text-align: center;
}

.input-cadastro {
  font-size: medium;
}

.icon-input {
  padding-right: 0.625rem;
}

.mat-form-field {
  width: 350px;
}

.check-infos {
  text-align: center;
}

.mat-grid-tile-mapa {
  margin-top: 0;
  margin-left: 5%;
}

.check-box {
  margin-top: 5px;
  /* margin-left: 10px; */
  margin-right: 20px;
  font-size: 12px;
  text-align: center;
}

/* MAIN CARD CONTENT */
.main-card-content {
  display: block;
}

.main-card-content img {
  width: 80%;
  max-width: 30rem;
  min-width: 10rem;
  padding-bottom: 0.6rem;
}

.main-card-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-card-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.main-card-content-card p {
  text-align: center;
}

/*responsive*/
@media(max-width: 1024px) {
  .grid-register {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .img-logo {
    width: 250px;
  }

}

@media(max-width: 768px) {
  .grid-register {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .img-logo {
    width: 250px;
  }

}

@media(max-width: 574px) {
  .grid-register {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .img-logo {
    width: 150px;
  }

  .main-card-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media(max-width: 350px) {
  .grid-register {
    width: 100%;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .img-logo {
    width: 100px;
  }

}
