<div class="content">
  <div class="title">
    <section>
      <div>
        <h1>Nosso História</h1>
      </div>
    </section>
  </div>
  <br>
  <div class="body">
    <h2>Onde tudo começou</h2>
    <p>Quando pensamos em uma ideia para transformarmos em negócio, pensamos que primeiro deveria ser algo que ajudasse as pessoas.
      E com isso, em um brainstorm tivemos a ideia do Cuida+, que a priori se chamaria iDoso. E dentre tantas conversas em reuniões,
      fomos pesquisar o mercado descobrimos que só existe uma ideia similar e que atende apenas as regiões de MG e SP. E com isso,
      seriamos os primeiros no DF e entorno a cobrir esse tipo de serviço que é um nincho incrível de ser explorado por conta da
      porcentagem de idosos que vivem na nossa capital (sem contar com outros pacientes que se enquadram nos nossos serviços).
    </p>
    <br>
    <h2>A ideia</h2>
    <p>Com a ideia em mente, teriamos as primeiras reuniões para a criação da documentação do projeto e avaliação do mesmo. E
      conforme o andamento da construção da ideia, percebemos que a escolha foi certeira. Teríamos em mãos um projeto bastante
      promissor e que nos traria resultados esperados comercialmente e pessoalmente, queremos ajudar pessoas ou pelo menos
      intermediar esse contato de ajuda.
    </p>
  </div>
</div>
