<div class="stepper-container">
  <div class="nav-cadastro">
    <mat-radio-group color="warn">
      <div class="tipoUsuario">
        <h2>Desejo realizar o cadastro como:</h2>
        <mat-radio-button value="1" [(ngModel)]="tipoUsuario" name="tipoUsuario" ngDefaultControl
          style="padding-right: 0.7rem;">Paciente
        </mat-radio-button>
        <mat-radio-button value="2" [(ngModel)]="tipoUsuario" name="tipoUsuario" ngDefaultControl>Cuidador
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <mat-stepper [linear]="true" class="stepper">
    <mat-step color="accent" class="mat-step">
      <form class="stepper-form">
        <ng-template matStepLabel>DADOS PESSOAIS</ng-template>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">phone</mat-icon>
            <mat-label>TELEFONE CELULAR</mat-label>
            <input matInput placeholder="Ex.: (00) 0 0000-0000" mask="(00) 0 0000-0000" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">event</mat-icon>
            <mat-label appColor>DATA DE NASCIMENTO</mat-label>
            <input matInput placeholder="Ex.: 00/00/0000" mask="00/00/0000" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">email</mat-icon>
            <mat-label>E-MAIL</mat-label>
            <input matInput type="email" placeholder="Ex.: email@email.com" required>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">transgender</mat-icon>
            <mat-label>SEXO</mat-label>
            <input matInput placeholder="Masculino ou Feminino" required>
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">transgender</mat-icon>
            <mat-label>SEXO</mat-label>
            <mat-select required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let sex of sexs" [value]="sex">
                {{sex.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sexControl.hasError('required')">Por favor, escolha um sexo.</mat-error>
          </mat-form-field>
        </div>

        <div class="nav-button">
          <button mat-button matStepperNext class="button-next">PRÓXIMO</button>
        </div>
      </form>
    </mat-step>

    <mat-step color="accent">
      <form class="stepper-form">
        <ng-template matStepLabel>ENDEREÇO</ng-template>

        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">place</mat-icon>
            <mat-label>CEP</mat-label>
            <input matInput placeholder="Ex.: 00.000-000" mask="00.000-000" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">house</mat-icon>
            <mat-label>LOGRADOURO E NÚMERO</mat-label>
            <input matInput placeholder="Ex.: Rua A Casa 01" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">holiday_village</mat-icon>
            <mat-label>BAIRRO</mat-label>
            <input matInput placeholder="Ex.: Laranjeiras" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">apartment</mat-icon>
            <mat-label>CIDADE</mat-label>
            <input matInput placeholder="Ex.: Brasília" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="icon-input">pin_drop</mat-icon>
            <mat-label>UF</mat-label>
            <input matInput placeholder="Ex.: DF" mask="SS" required>
          </mat-form-field>
        </div>

        <!-- <div class="nav-cadastro">
          <mat-radio-group color="warn">
            <div class="tipoUsuario">
              <h2>Deseja realizar o cadastro como:</h2>
              <mat-radio-button value="1" [(ngModel)]="tipoUsuario" name="tipoUsuario" ngDefaultControl
                style="padding-right: 0.7rem;">Paciente
              </mat-radio-button>
              <mat-radio-button value="2" [(ngModel)]="tipoUsuario" name="tipoUsuario" ngDefaultControl>Cuidador
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div> -->

        <div class="nav-button">
          <button mat-button matStepperPrevious class="button-prev">ANTERIOR</button>
          <button mat-button matStepperNext class="button-next">SALVAR</button>
        </div>

      </form>
    </mat-step>

  </mat-stepper>
</div>
