.stepper-container {
  padding: 7rem;
}

.stepper{
  background: #80ED99;
  color: #000;
}

.inputs {
  display: grid;
  padding: 1rem;
}

.input-mapa {
  display: grid;
  padding: 1rem;
  margin-bottom: 15px;
}

.mapa {
  width: 100%;
}

.nav-button {
  display: flex;
  justify-content: center;
}

.nav-cadastro {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 25px;
}

.nav-title {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.button-prev {
  color: white;
  margin-right: 0.7rem;
  background-color: #FF9900;
  border: 2px solid #B21E1E;;
}

.button-next {
  color: white;
  background-color: #38A3A5;
  border: 2px solid #22577A;
}

.icon-input {
  padding-right: 0.625rem;
}

.tipoUsuario {
  padding-bottom: 10px;
}

.tipoUsuario > h2 {
  padding-bottom: 20px;
}
