.stepper-container {
  padding: 7rem;
}

.stepper{
  background: #80ED99;
  color: #000;
}

.stepper-form {
}

.inputs {
  display: grid;
  padding: 1rem;
}

.nav-button {
  display: flex;
  justify-content: center;
}

.icon-input {
  padding-right: 0.625rem;
}
