<div class="content">
  <div class="title">
    <section>
      <div>
        <h1>Nosso Objetivo</h1>
      </div>
    </section>
  </div>
  <br>
  <div class="body">
    <h2>O melhor para você</h2>
    <p>A família entra em contato direto com a diretoria do Cuida+. Nessa conversa, nós vamos entender as necessidades
      do paciente, apresentar os nossos serviços e garantias, e já formular o orçamento. Então, um enfermeiro da nossa
      equipe vai até a casa do paciente para validar as informações, elaborar um plano de cuidado personalizado e
      agendar o início da assistência, que pode ocorrer em até 48h ou quando for melhor para a família. Ela terá contato
      direto e permanente com a nossa equipe de relacionamento, que é treinada para resolver qualquer demanda. Também
      contará com a assistência de profissionais criteriosamente selecionados e que recebem uma capacitação continuada
      de acordo com o padrão de cuidado do Cuida+. As nossas garantias se encarregam de dar à família a segurança de uma
      assistência de qualidade, sem burocracias.</p>
    <br>
    <h2>Pilares</h2>
    <p><b>Confiança:</b> Profissionais verificados e avaliados em antecedentes legais e perfil psicológico (são pessoa jurídica
      - MEI).</p>
    <p><b>Tranquilidade​:</b> Reposição imediata no caso de faltas e imprevistos sem custo adicional.</p>
    <br>
    <h2>Benefícios</h2>
    <p><b>Sem Burocracias​:</b> Contrate pelo tempo que precisar sem contratos fechados ou multas por cancelamento.</p>
    <p><b>Segurança​:</b> Intermediação de pagamentos apenas com a empresa.</p>
    <br>
  </div>
</div>
